#macro(mainLayout)
<html>
<head>
    <title>$msg.get("COMMON_TITLE")</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <nav class="top">
        <a class="logo" href="$WebPath.getINDEX()">Libraria lu' Marian</a>
        <ul id="chooseLanguage">
            <form>
                <li>
                    <button name="locale" value="ro" style="background-image: url(/img/romania.png);"></button>
                </li>
                <li>
                    <button name="locale" value="en" style="background-image: url(/img/english.png);"></button>
                </li>
            </form>
        </ul>
        <ul id="menu">
            #if($userRole == 1)
            <li><a href="$WebPath.getADMIN()" style="color:red">ADMIN AREA</a></li>
            #end
            <li><a href="$WebPath.getBOOKS()">$msg.get("COMMON_NAV_ALLBOOKS")</a></li>
            #if($currentUser)
                <li>
                    <form method="post" action="$WebPath.getLOGOUT()">
                        <button id="logout">$msg.get("COMMON_NAV_LOGOUT")</button>
                    </form>
                </li>
                <li><a style="display:inline-block;" href="$WebPath.getSTORE()"><img src="/img/basket.png"></a><p class="product-count">$orderNr</p></li>
            #else
                <li><a href="$WebPath.getLOGIN()">$msg.get("COMMON_NAV_LOGIN")</a></li>
            #end
        </ul>
    </nav>
</header>
<main>
    <div id="content">
        $bodyContent
    </div>
</main>
<footer>
    $msg.get("COMMON_FOOTER_TEXT")
</footer>
</body>
</html>
#end
